<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="internalOnly"
    package="de.digisocken.rss_o_tweet">

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="de.digisocken.rss_o_tweet.RssOTweet"
        android:theme="@style/AppTheme">
        <activity android:name="de.digisocken.rss_o_tweet.MainActivity">
            <intent-filter>
                <action android:name="de.digisocken.rss_o_tweet.ALARM_HAS_NEWS" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="de.digisocken.rss_o_tweet.LogoActivity" android:theme="@style/Theme.Transparent"></activity>

        <activity
            android:name="de.digisocken.rss_o_tweet.PreferencesActivity"
            android:parentActivityName="de.digisocken.rss_o_tweet.MainActivity" />

        <activity
            android:name="de.digisocken.rss_o_tweet.FeedSourcesActivity"
            android:parentActivityName="de.digisocken.rss_o_tweet.MainActivity" />

        <activity
            android:name="de.digisocken.rss_o_tweet.PrefRegexActivity"
            android:parentActivityName="de.digisocken.rss_o_tweet.MainActivity" />

        <receiver android:name="de.digisocken.rss_o_tweet.Alarm" />

        <!-- exported: receive messages from sources outside its application -->
        <receiver
            android:name="de.digisocken.rss_o_tweet.DeviceBootReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="de.digisocken.rss_o_tweet.FeedContentProvider"
            android:authorities="de.digisocken.rss_o_tweet.contentprovider" >
        </provider>

        <receiver android:name="de.digisocken.rss_o_tweet.MyWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/mywidget" />
        </receiver>

        <service android:name="de.digisocken.rss_o_tweet.WidgetUpdateService" />
        <activity android:name="com.twitter.sdk.android.core.identity.OAuthActivity" />

    </application>

</manifest>
