<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="internalOnly"
    package="de.digisocken.anotherrss">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".AnotherRSS"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="de.digisocken.anotherrss.ALARM_HAS_NEWS" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PreferencesActivity"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".FeedSourcesActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:host="*" />
                <data android:pathPattern=".*xml/" />
                <data android:pathPattern=".*xml" />
                <data android:pathPattern=".*rss/" />
                <data android:pathPattern=".*rss" />
                <data android:pathPattern=".*rss2" />
                <data android:pathPattern=".*rdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="*" />
                <data android:pathPattern=".*xml/" />
                <data android:pathPattern=".*xml" />
                <data android:pathPattern=".*rss/" />
                <data android:pathPattern=".*rss" />
                <data android:pathPattern=".*rss2" />
                <data android:pathPattern=".*rdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:mimeType="text/xml"/>
                <data android:mimeType="application/rss+xml"/>
                <data android:mimeType="application/atom+xml"/>
                <data android:mimeType="application/xml"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"/>
                <data android:mimeType="text/xml"/>
                <data android:mimeType="application/rss+xml"/>
                <data android:mimeType="application/atom+xml"/>
                <data android:mimeType="application/xml"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".PrefRegexActivity"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".VideocastActivity"
            android:parentActivityName=".MainActivity" />

        <receiver android:name=".Alarm" />

        <!-- exported: receive messages from sources outside its application -->
        <receiver
            android:name="de.digisocken.anotherrss.DeviceBootReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".FeedContentProvider"
            android:authorities="de.digisocken.anotherrss.contentprovider" >
        </provider>

        <receiver android:name="de.digisocken.anotherrss.MyWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/mywidget" />
        </receiver>

        <service android:name="de.digisocken.anotherrss.WidgetUpdateService" />

    </application>

</manifest>
